<footer class="footer">
    <section class="address">
        Address data
    </section>
    <nav class="footer-nav-1">
        <ul>
            <li>
                <a href="">
                    Menu item1
                </a>
            </li>
            <li>
                <a href="">
                    Menu item2
                </a>
            </li>
        </ul>
    </nav>
    <nav class="footer-nav-2">
        <ul>
            <li>
                <a href="">
                    Menu item1
                </a>
            </li>
            <li>
                <a href="">
                    Menu item2
                </a>
            </li>
        </ul>
    </nav>
    <nav class="footer-nav-3">
        <ul>
            <li>
                <a href="">
                    Menu item1
                </a>
            </li>
            <li>
                <a href="">
                    Menu item2
                </a>
            </li>
        </ul>
    </nav>
</footer>
